<!--The content below is only a placeholder and can be replaced.-->
<!-- <input [(ngModel)]="message" />
<button (click)="sendMessage()">Send</button> -->


   <div>
    Username:<input [(ngModel)]='model.username' placeholder="username" type="text" name="username" ngModel>
    password:<input  placeholder='username'  type="text" name="userpass" ngModel>
     <button type="button" style="font-size: 15px" (click)="changeShowStatus()">Login</button>
     <div class="box" *ngIf="showHide">
       <!-- //hide code execute -->
       <div class="form1">
       <mat-toolbar color="primary" >
       <div class="title-center">

       <h1 style="margin-left: 750px"><strong>ChatApp</strong></h1>
       </div>
         <!-- This fills the remaining space of the current row -->
       </mat-toolbar>
       </div>
       <!-- //user first form -->
       <div class="form">
       <form  #setuser="ngForm" (ngSubmit)="sendData()">
       <div align ="center" class="message"   *ngFor="let data of messages" >
           {{ data.username }}
             {{ data.message }}
            <!-- {{ data.time }} -->
       </div>
        <!-- //online user show here -->
       <div  class="message1"   *ngFor="let data of messages" >
         <p> online user:   {{ data.username }} <p>
        </div>
       Usermessage:<input [(ngModel)]='model.message'  placeholder="message" name="message"  (keyup)="$event.keyCode == 13" ngModel/>
       <!-- Time <input [(ngModel)]='model.time'  name="time" type="time" placeholder="Time" [value]="date" ng-model-options="{ timezone: '-0400' }"> -->
       <!-- <input [(ngModel)]='model.time' type="datetime-local" [value]="date"
                 (change)="date=$event.target.value" name="time"  /> -->
       <button class="button1" type="submit" style="font-size: 15px">Send</button>
       </form>
       </div>
       <!-- <footer align ="center" class="Footer" style="background-color: #ccc">

         <p  style="align:center">  @siddhesh 2018  </p>
       </footer> -->

       <div class="footer" style="margin-top: 450px" >
       <mat-toolbar color="primary" >
       <div class="title-center">

       <h1 style="margin-left: 650px"><strong>Copyright @siddhesh 2018 </strong></h1>
       </div>
         <!-- This fills the remaining space of the current row -->
       </mat-toolbar>
       </div>

     </div>
   </div>
